<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ParseData.Properties.Settings.aspnet_MyCards_20160227033058ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aspnet-MyCards-20160227033058;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>